# Build artifacts
/build/
/*.3dsx
/*.cia
/*.elf
/*.smdh
/*.dol
/*.gcm
/*.iso
/*.sav

# OS files
.DS_Store
Thumbs.db

# Compiled objects
*.o
*.exe
*.out
*.bin

# Logs
*.log

# Temporary files
*.tmp

# DevKitPro / MSYS2 temp files
*.dep
*.d
*.stackdump

# Editor files
*.swp
*.vscode/
*.idea/